<div class="agm-map" #map>
  <agm-map id="agm-map" [style.height.px]="map.offsetHeight" [fitBounds]="true">
    <agm-marker-cluster  imagePath="assets/img/m/m">
    <agm-marker *ngFor="let meal of meals" [latitude]="meal.where.lat" [longitude]="meal.where.lng" [agmFitBounds]="fitBound(meal)"
                [opacity]="meal.where.alpha" [label]="meal.where.label" [markerDraggable]="meal.where.draggable">
      <agm-info-window>
        <strong>{{meal.name}}</strong>
        <app-rating [rate]="meal.rate"></app-rating>
        <p>Registered on {{meal.date.toDateString()}}</p>
        <em>{{meal.where.lat + ' : ' + meal.where.lng + ' : ' + meal.where.label}}</em> <br>
        <button type="button" class="btn btn-primary" [routerLink]="['/history_gallery', meal.id]">Jump to the details</button>
      </agm-info-window>
    </agm-marker>
    </agm-marker-cluster>
  </agm-map>
  <div class="fix-left-bottom">
    <button id="switch" type="button" class="btn btn-dark rounded-circle p-2" [routerLink]="['/history_gallery', 0]">
      <img style="filter: invert(100%);" src="assets/img/switch.svg"
           width="30" height="30" alt="">
    </button>
  </div>
  <div class="fix-right-bottom">
    <button type="button" class="btn btn-dark rounded-circle p-2" routerLink="/meal">
      <img style="filter: invert(100%);" src="/assets/img/add_food.svg"
           width="30" height="30" alt="">
    </button>
  </div>
</div>
