<div class="agm-map" #map>
  <agm-map id="agm-map" [style.height.px]="map.offsetHeight" [latitude]="lat" [longitude]="lng" [zoom]="zoom"
           (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
                [opacity]="marker.alpha" [label]="marker.label" (dragEnd)="markerDragEnd(marker, $event)"
                [markerDraggable]="marker.draggable" (markerClick)="selectMarker($event)">
      <agm-info-window>
        <strong>{{marker.lat + ' : ' + marker.lng + ' : ' + marker.label}}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <div class="fix-left-bottom">
    <button type="button" class="btn btn-dark rounded-circle p-2" routerLink="/history_gallery">
      <img style="filter: invert(100%);" src="assets/img/switch.svg"
           width="30" height="30" alt="">
    </button>
  </div>
  <div class="fix-right-bottom">
    <button type="button" class="btn btn-dark rounded-circle p-2" routerLink="">
      <img style="filter: invert(100%);" src="/assets/img/add_food.svg"
           width="30" height="30" alt="">
    </button>
  </div>
</div>
