<!--location date -->

<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>What was your meal?</h3>
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="nameOfFood">Name</label>
                <input id="nameOfFood" class="form-control form-control-lg" type="text" placeholder="Eg.: Beef Burger"
                       [ngClass]="{'is-invalid': submitted && messageForm.controls.nameOfFood.errors}">
                <div *ngIf="submitted && messageForm.controls.nameOfFood.errors != null" class="invalid-feedback">
                  <div *ngIf="messageForm.controls.notifyNumber.errors.required">
                    The name of food is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="pictureUrl">Take a Pic!</label>
                <input id="pictureUrl" formControlName="pictureUrl" type='file' (change)="readUrl($event)">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <img class="profil--pic" [src]="picture" alt="src/assets/img/food_pic.svg">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="rate">Rate</label>
              <app-rating [isReadonly]="false" (onHover)="setRate($event)"></app-rating>
              <input id="rate" formControlName="rate" type="number" [value]="rate" hidden>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="location">Rate</label>
              <input id="location" formControlName="location" type="text" [value]="">
            </div>
          </div>
          <button class="btn btn-dark rounded-circle p-2" type="submit">
            <img style="filter: invert(100%);" src="/assets/img/baseline-save-24px.svg"
                 width="30" height="30" alt="">
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
