<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="jumbotron flex-fill">
      <div class="col">
        <h2>Short Introduction</h2>
      </div>
      <div class="col align-items-center">
        <dd>This application helps to you save your experience with your meals.</dd>
        <dt>What does it mean?</dt>
        <dd>You can take a picture about your food, rate it and save it. This application will save your location as
          well, so
          you can see where you ate your best meals.
        </dd>
      </div>
    </div>
  </div>
  <div class="row justify-content-center top-buffer">
    <div *ngIf="loggedIn; else login">
      <button (click)="null" type="button" class="btn btn-outline-primary rounded">Register your meal</button>
    </div>
    <ng-template #login>
      <button (click)="logIn()" type="button" class="btn btn-outline-primary rounded">Log in</button>
    </ng-template>
  </div>
</div>
<app-about id="about"></app-about>

