<carousel (activeSlideChange)="onChange($event)" [(activeSlide)]="activeSlideIndex">
  <slide *ngFor="let meal of meals; let index=index">
    <img [src]="meal.src" [alt]="meal.name" class="img-style myThing" (click)="openModal(template, meal)"
         [style]="style">
    <div class="carousel-caption">
      <h3 class="opp">{{meal.name}}</h3>
      <app-rating class="opp" [rate]="meal.rate"></app-rating>
    </div>
  </slide>
  <div *ngIf="getFirstActive === 'undefined' && meals.length === 0" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
       class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">No meals</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="autoShownModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <strong>You still does not have any meal.</strong>
        </div>
      </div>
    </div>
  </div>
</carousel>
<div class="fixed-left-bottom" [hidden]="!isOnline()">
  <button type="button" class="btn btn-dark rounded-circle p-2" routerLink="/history">
    <img style="filter: invert(100%);" src="assets/img/switch.svg"
         width="30" height="30" alt="">
  </button>
</div>
<div class="fixed-right-bottom">
  <button type="button" class="btn btn-dark rounded-circle p-2" routerLink="/meal">
    <img style="filter: invert(100%);" src="/assets/img/add_food.svg"
         width="30" height="30" alt="">
  </button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedMeal.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="text-align: center">
      <img [src]="selectedMeal.src" class="img-fluid">
    </div>
    <div class="star-format">
      <app-rating [rate]="selectedMeal.rate"></app-rating>
      <p>{{selectedMeal.date.toDateString()}}</p>
      <p>Latitude: <br> {{selectedMeal.where.lat}}</p>
      <p>Longitude: <br> {{selectedMeal.where.lng}}</p> <br>
      <button [hidden]="!isOnline()" (click)="jump()">Jump to the marker</button>
<!--      <button [hidden]="!isOnline()" (click)="remove(selectedMeal.$key)">Remove</button>-->
    </div>
  </div>
</ng-template>
