.img-style {
  align-content: center;
  display: block;
  height: 100%;
  margin: auto;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.9));
}

.highlight {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}

.opp {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 1px 0 black;
}

.fixed-left-bottom {
  position: fixed;
  bottom: -2%;
  left: 8%;
  z-index: 1020;
  transform: translate(-50%, -50%);
}

.fixed-right-bottom {
  position: fixed;
  bottom: -2%;
  left: 92%;
  z-index: 1020;
  transform: translate(-50%, -50%);
}

.star-format {
  font-size: xx-large;
  text-align: center;
}
