<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Where are you?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="message !== 'none'" [ngClass]="message === 'warn' ? 'alert alert-warning' : 'alert alert-danger'" role="alert">
      {{getMessage()}}
    </div>
    <agm-map id="agm-map" style="height: 300px" [latitude]="47.498226" [longitude]="19.052491"
             [zoom]="8" (mapClick)="mapClicked($event)">
      <agm-marker *ngIf="markerEventEmitter !== null" [longitude]="marker.lng" [latitude]="marker.lat" [label]="marker.label"
                  [markerDraggable]="draggable" (dragEnd)="setMarker($event)">
      </agm-marker>
    </agm-map>
    <button (click)="setMarkerAndHide()">Save</button>
  </div>
</ng-template>
