<div class="container-fluid">
  <div class="row justify-content-center top-buffer p-4">
    <app-scroller></app-scroller>
  </div>
  <div class="row justify-content-center">
    <div class="jumbotron flex-fill">
      <div class="col">
        <h2>About</h2>
      </div>
      <div class="col align-items-center">
        <dd>
          Nowadays, people really love share their meals and where they were before. There is some solution for this
          for example the Instagram, Twitter, Facebook or the Google Maps. These are really good applications, but they scope
          is too big for this. You cannot handle in a good way your foods and these places. With this application, you can
          register your meals and you can follow up they. You can rate, pin the place on a map and take pictures as well about the foods.
          But what contains this application and how can you use it? You can read more below after the separator line. :)
        </dd>
        <hr>
        <dd>
          <b><i>Online working</i></b><br><br>
          <u>Home view:</u> You get short introduction of app and you can Login. After that, the Login button will be replaced
          with another one and you can register your food.<br>
          <u>Profile view:</u> Here you can set your profile and cover picture and even you can set a nickname for yourself as well.
          You can set application settings as well and you can check a diagram about your eating.
          This view is a test view for a new feature what will be released in the next semester.<br>
          <u>About view:</u> This is that section what you are reading right now. :)<br>
          <u>Sign out:</u> This button provides you an opportunity to log out if you want for some reason.<br>
          <u>History view:</u> This view is not just one view. It zipped two views. The first is a gallery type view, where
          you can review your foods and the given ratings. If you poke one picture, then you will see a detailed pop-up window
          with a button what navigate to you to the next view. This next view is the map view. Here you can see all of places where you were.
          This view provides detail pop-up as well, only you have to poke one marker for the info box. If you tried it, then you will see
          a button what navigate back to the gallery to that meal.<br><br><br>
          <b><i>Offline working</i></b><br><br>
          You can reach every main functionality in the application without internet connection as well. The profile view and the
          map view won't be reachable because they need internet connection. The first one is a feature component so it is
          understandable, I think... The map is using the google maps what need internet connection so that is the reason why you cannot use it.
        </dd>
      </div>
    </div>
  </div>
</div>
