<div class="container-fluid">
  <div id="chartContainer" style="height: 300px; width: 100%"></div>
  <div class="row">
    <br>
    <br>
    <br>
  </div>
</div>
<nav id="buttons" class="navbar fixed-bottom">
  <button type="button" class="btn btn-dark rounded-circle p-2" routerLink="settings">
    <img style="filter: invert(100%);" src="/assets/img/baseline-settings-20px.svg"
         width="30" height="30"alt="">
  </button>
  <button type="button" class="btn btn-dark rounded-circle p-2" routerLink="edit">
    <img style="filter: invert(100%);" src="/assets/img/baseline-edit-24px.svg"
         width="30" height="30" alt="">
  </button>
</nav>
