<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card hovercard">
        <img [src]="authorizationService.getCover()" class="cardheader" [alt]="authorizationService.getCover"/>
        <div class="avatar">
          <img [src]="authorizationService.getUser.photoUrl" alt="Profile Pic"/>
        </div>
        <div class="info">
          <h5 class="card-title">{{authorizationService.getUser.name}}</h5>
          <p class="card-text">{{authorizationService.getUser.email}}</p>
        </div>
      </div>
    </div>
  </div>
  <app-diagram></app-diagram>
  <!--<div class="row">-->
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
  <!--</div>-->
</div>
<nav id="buttons" class="navbar fixed-bottom">
  <button type="button" class="btn btn-dark rounded-circle p-2" (click)="null">
    <img style="filter: invert(100%);" src="/assets/img/baseline-settings-20px.svg"
         width="30" height="30"alt="">
  </button>
  <button type="button" class="btn btn-dark rounded-circle p-2" (click)="null">
    <img style="filter: invert(100%);" src="/assets/img/baseline-edit-24px.svg"
         width="30" height="30" alt="">
  </button>
</nav>
